form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form :first-child{
    padding: 5px;
}

form > div{
    padding: 10px;
}

form > p{
    margin: 15px;
    border-radius: 15px;
    height: 90px;
    width: 300px;
    color: rgb(120, 108, 108);
    font-weight: 700;
    text-align: center;
}

#parrafo1{
    background-color: #e7ece8;
    padding: 35px;
}

#parrafo2{
    background-color: #ff07e6;
    padding: 20px;
}

#parrafo3{
    background-color: #b5dc35;
    padding: 25px;
}